
.header
  .title
    %a{:href => "root_path"}Catch The Wave!!
  .subtitle 2020年版 フリーWiFiスポット情報アプリ
  .menu
    %ul
    %li.area
      エリア 天神
    %li.charge
      料金 無料/有料
    %li.power
      電源 あり/なし
    %li.mood
      雰囲気 静か/賑やか
    

  -# .box
  -#   .text
  -#     %i 更新日
  -#   .date
  -#     %i 2020.2.20

