
.header
  .title
    %a{:href => "root_path"}For NomaDist
  .subtitle 2020年版 ノマド向けフリーWiFiスポット情報アプリ
  
  .menu
    %ul
    %li.area
      福岡 天神 エリア
    %li.charge
      料金  無料 / 有料
    -# %li.power
    -#   電源 あり/なし
    %li.mood
      雰囲気  静か / 賑やか
    
  %img.cat{:src => "/image.jpg"}/

  %img.wifi{:src => "/wifi.png"}/

  .box

    -# = link_to 'アカウント編集', edit_user_path(current_user)

  %a{:href => edit_user_path(current_user)} 
    %img.github{ :src => "/github.png"}/
    
 


