.side

  %h2.page-title 天神エリアのfreeWiFiスポット

  .side-box

    %a{:href => "/spots/1"}
    %dl.event
      %dt.spot
        %dd.bar -----------------------------------------------
        .spot-box
          %span.title spot
          %p.name <エンジニアカフェ（天神）>
        %dd.spot-img
          %img.image{:src => "/demo1.jpg"}/
          %img.image{:src => "/demo12.jpg"}/
          %img.image{:src => "/demo13.jpg"}/
        %dd.charge <無料> 
        %dd.power <電源あり> 全席
        %dd.hour <営業時間 9時〜21時>
        %dd.mood <雰囲気> とてもしずか
  

    %a{:href => "/spots/2"}
    %dl.event
      %dt.spot
        %dd.bar -----------------------------------------------
        .spot-box
          %span.title spot
          %p.name <カフェベローチェ 天神一丁目店>
        %dd.spot-img
          %img.image{:src => "/demo22.jpg"}/
          %img.image{:src => "/demo21.jpg"}/
          %img.image{:src => "/demo20.jpg"}/
        %dd.charge <有料> コーヒー210円
        %dd.power <電源あり> 10口
        %dd.hour <営業時間 7時〜23時>
        %dd.mood <雰囲気> 賑やか


    %a{:href => "/spots/3"}
    %dl.event
      %dt.spot
        %dd.bar -----------------------------------------------
        .spot-box
          %span.title spot
          %p.name <"BOOK & CO."TSUTAYA天神ショッパーズ２F>
        %dd.spot-img
          %img.image{:src => "/demo30.jpg"}/
          %img.image{:src => "/demo31.jpg"}/
          %img.image{:src => "/demo32.jpg"}/
        %dd.charge <有料> ドロップイン500円/時間
        %dd.power <電源あり> 全席
        %dd.hour <営業時間 9時〜19時>
        %dd.mood <雰囲気> しずか    


    %a{:href => "/spots/4"}
    %dl.event
      %dt.spot
        %dd.bar -----------------------------------------------
        .spot-box
          %span.title spot
          %p.name <タリーズコーヒー 天神店>
        %dd.spot-img
          %img.image{:src => "/demo40.jpg"}/
          %img.image{:src => "/demo41.jpg"}/
          %img.image{:src => "/demo42.jpg"}/
        %dd.charge <有料> ブレンドコーヒー１杯360円 
        %dd.power <電源あり> 30席
        %dd.hour <営業時間 7時半〜23時>
        %dd.mood <雰囲気> しずか


    %a{:href => "/spots/5"}
    %dl.event
      %dt.spot
        %dd.bar -----------------------------------------------
        .spot-box
          %span.title spot
          %p.name <タリーズコーヒー 天神新天町店>
        %dd.spot-img
          %img.image{:src => "/demo50.jpg"}/
          %img.image{:src => "/demo51.jpg"}/
        %dd.charge <有料> ブレンドコーヒー１杯360円 
        %dd.power <電源あり> 30席
        %dd.hour <営業時間 8時〜21時>
        %dd.mood <雰囲気> しずか


    %a{:href => "/spots/6"}
    %dl.event
      %dt.spot
        %dd.bar -----------------------------------------------
        .spot-box
          %span.title spot
          %p.name <スターバックスコーヒー 天神VIORO店>
        %dd.spot-img
          %img.image{:src => "/demo60.jpg"}/
          %img.image{:src => "/demo61.jpg"}/
          %dd.charge <無料> 
        %dd.power <電源あり> 8口
        %dd.hour <営業時間 8時〜22時>
        %dd.mood <雰囲気> しずか

    %a{:href => "/spots/7"}
    %dl.event
      %dt.spot
        %dd.bar -----------------------------------------------
        .spot-box
          %span.title spot
          %p.name <スターバックスコーヒーメディアモール天神店>
          %img.image{:src => "/demo70.jpg"}/
          %img.image{:src => "/demo71.jpg"}/
        %dd.charge <有料> ブレンドコーヒー１杯360円 
        %dd.power <電源あり> 8口
        %dd.hour <営業時間 7時〜23時>
        %dd.mood <雰囲気> 賑やか

    %a{:href => "/spots/8"}
    %dl.event
      %dt.spot
        %dd.bar -----------------------------------------------
        .spot-box
          %span.title spot
          %p.name <珈琲所コメダ珈琲店 福岡天神南店>
          %img.image{:src => "/demo80.jpg"}/
          %img.image{:src => "/demo81.jpg"}/
        %dd.charge <有料> ブレンドコーヒー１杯360円 
        %dd.power <電源あり> 10席
        %dd.hour <営業時間 7時〜23時>
        %dd.mood <雰囲気> 賑やか

    %a{:href => "/spots/9"}
    %dl.event
      %dt.spot
        %dd.bar -----------------------------------------------
        .spot-box
          %span.title spot
          %p.name <スターバックスコーヒー天神地下街店>
          %img.image{:src => "/demo90.jpg"}/
          %img.image{:src => "/demo91.jpg"}/
          %img.image{:src => "/demo92.jpg"}/
        %dd.charge <有料> ブレンドコーヒー１杯360円 
        %dd.power <電源あり> 8席
        %dd.hour <営業時間 7時〜23時>
        %dd.mood <雰囲気> 賑やか

    %a{:href => "/spots/10"}
    %dl.event
      %dt.spot
        %dd.bar -----------------------------------------------
        .spot-box
          %span.title spot
          %p.name <エスプレッサメンテ イリー 福岡天神地下街店>
          %img.image{:src => "/demo100.jpg"}/
          %img.image{:src => "/demo101.jpg"}/
        %dd.charge <有料> ブレンドコーヒー１杯260円 
        %dd.power <電源あり> 6口
        %dd.hour <営業時間 7時〜23時>
        %dd.mood <雰囲気> しずか



    %a{:href => "/spots/7"}
    %dl.event
      %dt.spot
        %dd.bar -----------------------------------------------
        .spot-box
          %span.title spot
          %p.name <"VITO 中洲ゲイツ店">
          %img.image{:src => "/demo140.jpg"}/
          %img.image{:src => "/demo141.jpg"}/
          %img.image{:src => "/demo142.jpg"}/
        %dd.charge <有料> ブレンドコーヒー１杯360円 
        %dd.power <電源あり> 6口
        %dd.hour <営業時間 9時〜21時>
        %dd.mood <雰囲気> 賑やか



    %a{:href => "/spots/11"}
    %dl.event
      %dt.spot
        %dd.bar -----------------------------------------------
        .spot-box
          %span.title spot
          %p.name <"Café&Meal MUJI 天神大名">
        %dd.spot-img
          %img.image{:src => "/demo110.jpg"}/
        %dd.charge  <有料> ブレンドコーヒー１杯360円 
        %dd.power <電源あり> 6口
        %dd.hour <営業時間 11時〜21時>
        %dd.mood <雰囲気> 賑やか

    %a{:href => "/spots/12"}
    %dl.event
      %dt.spot
        %dd.bar -----------------------------------------------
        .spot-box
          %span.title spot
          %p.name <スターバックスコーヒー天神西通り店>
        %dd.spot-img
          %img.image{:src => "/demo120.jpg"}/
          %img.image{:src => "/demo121.jpg"}/
          %img.image{:src => "/demo122.jpg"}/
        %dd.charge  <有料> ブレンドコーヒー１杯360円 
        %dd.power <電源あり> 6口
        %dd.hour <営業時間 8時〜23時>
        %dd.mood <雰囲気> 賑やか



    %a{:href => "/spots/13"}
    %dl.event
      %dt.spot
        %dd.bar -----------------------------------------------
        .spot-box
          %span.title spot
          %p.name <福岡市 スタートアップカフェ>
        %dd.spot-img
          %img.image{:src => "/demo130.jpg"}/
          %img.image{:src => "/demo131.jpg"}/
          %img.image{:src => "/demo132.jpg"}/
        %dd.charge <無料>
        %dd.power <電源あり> 30口
        %dd.hour <営業時間 10時〜22時>
        %dd.mood <雰囲気> しずか



    %a{:href => "/spots/7"}
    %dl.event
      %dt.spot
        %dd.bar -----------------------------------------------
        .spot-box
          %span.title spot
          %p.name <'SIROUZU COFFE 警固店'>
        %dd.spot-img
          %img.image{:src => "/demo51.jpg"}/
        %dd.charge <有料> ブレンドコーヒー１杯360円 
        %dd.power <電源あり> 6口
        %dd.hour <営業時間 9時〜21時>
        %dd.mood <雰囲気> 賑やか



    %a{:href => "/spots/7"}
    %dl.event
      %dt.spot
        %dd.bar -----------------------------------------------
        .spot-box
          %span.title spot
          %p.name <福岡天狼院（今泉）>
          %img.image{:src => "/demo51.jpg"}/
        %dd.charge <有料> ブレンドコーヒー１杯360円 
        %dd.power <電源あり> 6口
        %dd.hour <営業時間 9時〜21時>
        %dd.mood <雰囲気> 賑やか




    %a{:href => "/spots/7"}
    %dl.event
      %dt.spot
        %dd.bar -----------------------------------------------
        .spot-box
          %span.title spot
          %p.name <マクドナルド キャナルシティ博多店>
          %img.image{:src => "/demo51.jpg"}/
        %dd.charge <有料> ブレンドコーヒー１杯360円 
        %dd.power <電源あり> 6口
        %dd.hour <営業時間 9時〜21時>
        %dd.mood <雰囲気> 賑やか



    %a{:href => "/spots/7"}
    %dl.event
      %dt.spot
        %dd.bar -----------------------------------------------
        .spot-box
          %span.title spot
          %p.name <サブウェイ 天神ロフト店>
          %img.image{:src => "/demo51.jpg"}/
        %dd.charge <有料> ブレンドコーヒー１杯360円
        %dd.power <電源あり> 6口
        %dd.hour <営業時間 9時〜21時>
        %dd.mood <雰囲気> 賑やか



    %a{:href => "/spots/7"}
    %dl.event
      %dt.spot
        %dd.bar -----------------------------------------------
        .spot-box
          %span.title spot
          %p.name <黒猫屋珈琲店>
          %img.image{:src => "/demo51.jpg"}/
        %dd.charge <有料> ブレンドコーヒー１杯360円
        %dd.power <電源あり> 6口
        %dd.hour <営業時間 9時〜21時>
        %dd.mood <雰囲気> 賑やか


