.side

  %h2.page-title 天神エリアのfreeWiFiスポット

  .side-box
    
    %a{:href => "/spots/1"}
    %dl.event
      %dt
        %p スターバックス天神VIORO店
      %dd
        .list-img
          %p.title-img
            %img.img-thum{:src => "/assets/no-image-cbf8082bf5b9de3aa381103b5a016e285f0b33a6d97b1aeaa9adaced8ab8853c.png"}/
        .list-desc
          %p <有料>　ブレンドコーヒー１杯360円
          %p 電源　あり　6口
          %p 雰囲気　賑やか

    %a{:href => "/spots/2"}
    %dl.event
      %dt
        %p エンジニアカフェ
      %dd
        .list-img
          %p.title-img
            %img.img-thum{:src => "/assets/no-image-cbf8082bf5b9de3aa381103b5a016e285f0b33a6d97b1aeaa9adaced8ab8853c.png"}/
        .list-desc
          %p <無料>
          %p 電源　あり　15口
          %p 雰囲気　静か

    %a{:href => "/spots/3"}
    %dl.event
      %dt
        %p スタートアップカフェ大名
      %dd
        .list-img
          %p.title-img
            %img.img-thum{:src => "/assets/no-image-cbf8082bf5b9de3aa381103b5a016e285f0b33a6d97b1aeaa9adaced8ab8853c.png"}/
        .list-desc
          %p <無料>
          %p 電源　あり　10口
          %p 雰囲気　静か