.side

  %h2.page-title 天神エリアのfreeWiFiスポット

  .side-box


    %a{:href => "/spots/2"}
    %dl.event
      %dt.spot
        %dd.bar -----------------------------------------------
        .spot-box
          %span.title spot
          %p.name <エンジニアカフェ（天神）>
        %dd.spot-img
          %img.img-thum{:src => "/assets/no-image-cbf8082bf5b9de3aa381103b5a016e285f0b33a6d97b1aeaa9adaced8ab8853c.png"}/
        %dd.price <無料> 
        %dd.power <電源あり> 6口
        %dd.mood <雰囲気> しずか


    %a{:href => "/spots/3"}
    %dl.event
      %dt.spot
        %dd.bar -----------------------------------------------
        .spot-box
          %span.title spot
          %p.name <スタートアップカフェ（大名）>
        %dd.spot-img
          %img.img-thum{:src => "/assets/no-image-cbf8082bf5b9de3aa381103b5a016e285f0b33a6d97b1aeaa9adaced8ab8853c.png"}/
        %dd.price <無料> 
        %dd.power <電源あり> 6口
        %dd.mood <雰囲気> 賑やか


    %a{:href => "/spots/3"}
    %dl.event
      %dt.spot
        %dd.bar -----------------------------------------------
        .spot-box
          %span.title spot
          %p.name <プロント新天神町店>
        %dd.spot-img
          %img.img-thum{:src => "/assets/no-image-cbf8082bf5b9de3aa381103b5a016e285f0b33a6d97b1aeaa9adaced8ab8853c.png"}/
        %dd.price <有料> ブレンドコーヒー１杯360円
        %dd.power <電源あり> 6口
        %dd.mood <雰囲気> 賑やか

    %a{:href => "/spots/3"}
    %dl.event
      %dt.spot
        %dd.bar -----------------------------------------------
        .spot-box
          %span.title spot
          %p.name <コーデュロイカフェ パルコ店>
        %dd.spot-img
          %img.img-thum{:src => "/assets/no-image-cbf8082bf5b9de3aa381103b5a016e285f0b33a6d97b1aeaa9adaced8ab8853c.png"}/
        %dd.price <有料> ブレンドコーヒー１杯360円 
        %dd.power <電源あり> 6口
        %dd.mood <雰囲気> 賑やか

            
    %a{:href => "/spots/7"}
    %dl.event
      %dt.spot
        %dd.bar -----------------------------------------------
        .spot-box
          %span.title spot
          %p.name <'SIROUZU COFFE 警固店'>
        %dd.spot-img
          %img.img-thum{:src => "/assets/no-image-cbf8082bf5b9de3aa381103b5a016e285f0b33a6d97b1aeaa9adaced8ab8853c.png"}/
        %dd.price <有料> ブレンドコーヒー１杯360円
        %dd.power <電源あり> 6口
        %dd.mood <雰囲気> 賑やか


                    
    %a{:href => "/spots/7"}
    %dl.event
      %dt.spot
        %dd.bar -----------------------------------------------
        .spot-box
          %span.title spot
          %p.name <タリーズコーヒー新天神店>
          %img.img-thum{:src => "/assets/no-image-cbf8082bf5b9de3aa381103b5a016e285f0b33a6d97b1aeaa9adaced8ab8853c.png"}/
        %dd.price <有料> ブレンドコーヒー１杯360円
        %dd.power <電源あり> 6口
        %dd.mood <雰囲気> 賑やか


                    
    %a{:href => "/spots/7"}
    %dl.event
      %dt.spot
        %dd.bar -----------------------------------------------
        .spot-box
          %span.title spot
          %p.name <シアトルズベストコーヒー天神昭和通店>
          %img.img-thum{:src => "/assets/no-image-cbf8082bf5b9de3aa381103b5a016e285f0b33a6d97b1aeaa9adaced8ab8853c.png"}/
        %dd.price <有料> ブレンドコーヒー１杯360円
        %dd.power <電源あり> 6口
        %dd.mood <雰囲気> 賑やか


    %a{:href => "/spots/7"}
    %dl.event
      %dt.spot
        %dd.bar -----------------------------------------------
        .spot-box
          %span.title spot
          %p.name <スターバックスコーヒーメディアモール天神店>
          %img.img-thum{:src => "/assets/no-image-cbf8082bf5b9de3aa381103b5a016e285f0b33a6d97b1aeaa9adaced8ab8853c.png"}/
        %dd.price <有料> ブレンドコーヒー１杯360円
        %dd.power <電源あり> 6口
        %dd.mood <雰囲気> 賑やか


    %a{:href => "/spots/7"}
    %dl.event
      %dt.spot
        %dd.bar -----------------------------------------------
        .spot-box
          %span.title spot
          %p.name <コメダ珈琲店 福岡天神南店>
          %img.img-thum{:src => "/assets/no-image-cbf8082bf5b9de3aa381103b5a016e285f0b33a6d97b1aeaa9adaced8ab8853c.png"}/
        %dd.price <有料> ブレンドコーヒー１杯360円
        %dd.power <電源あり> 6口
        %dd.mood <雰囲気> 賑やか


    %a{:href => "/spots/7"}
    %dl.event
      %dt.spot
        %dd.bar -----------------------------------------------
        .spot-box
          %span.title spot
          %p.name <VITO 中洲ゲイツ店>
          %img.img-thum{:src => "/assets/no-image-cbf8082bf5b9de3aa381103b5a016e285f0b33a6d97b1aeaa9adaced8ab8853c.png"}/
        %dd.price <有料> ブレンドコーヒー１杯360円
        %dd.power <電源あり> 6口
        %dd.mood <雰囲気> 賑やか


    %a{:href => "/spots/7"}
    %dl.event
      %dt.spot
        %dd.bar -----------------------------------------------
        .spot-box
          %span.title spot
          %p.name <福岡天狼院（今泉）>
          %img.img-thum{:src => "/assets/no-image-cbf8082bf5b9de3aa381103b5a016e285f0b33a6d97b1aeaa9adaced8ab8853c.png"}/
        %dd.price <有料> ブレンドコーヒー１杯360円
        %dd.power <電源あり> 6口
        %dd.mood <雰囲気> 賑やか